:root {/* 가상 클래스를 이용해 변수를 선언하고 동일하게 적용 및 변경이 가능합니다. */
	/* color */
	--primary-color: #8AA090;
	--primary-color-dark: #53513d;
	--primary-color-light: #E4D8C3;
	--text-color: #333;
	--text-color-light: #707070;
	--title-color: #37464f;
	--border-color: #919ea1;
	--border-color-light: #ddd;
	--body-color: #fff;
	--body-color-deep: #f5f5f5;
	--body-color-bage: #FFF8EC;
	--white-color: #fff;
	--black-color: #000;
	--input-color: #f6f9f9;

	/* font & size - 폰트 사이트 계산은 https://nekocalc.com/px-to-rem-converter 참고해 변환 확인합니다. */
	--basic-font: 'Noto Sans KR', sans-serif;
	--en-font: 'Montserrat', 'Noto Sans KR', sans-serif;
	--biggest-font-size: 1.5rem;/* 24px */
	--h1-font-size: 1.25rem;/* 20px */
	--h2-font-size: 1.125rem;/* 18px */
	--h3-font-size: 1rem;/* 16px */
	--normal-font-size: .9375rem;/* 15px */
	--small-font-size: .8125rem;/* 13px */
	--smaller-font-size: .688rem;/* 11px */
}
@media (min-width: 768px) {
	:root {
		--biggest-font-size: 2.5rem;/* 40px */
		--h1-font-size: 1.5rem;/* 24px */
		--h2-font-size: 1.25rem;/* 20px */
		--h3-font-size: 1rem;/* 16px */
		--normal-font-size: 1rem;/* 16px */
		--small-font-size: .875rem;/* 14px */
		--smaller-font-size: .75rem;/* 12px */
	}
}
@media (min-width: 992px) {
	:root {
		--biggest-font-size: 4rem;/* 64px */
		--h1-font-size: 2.25rem;/* 36px */
		--h2-font-size: 1.75rem;/* 28px */
		--h3-font-size: 1.25rem;/* 20px */
	}
}

/* ========== base ========== */
html {scroll-behavior: smooth;}
body {margin: 0;font-size: var(--normal-font-size);background-color: var(--body-color);}
.en-font {font-family: var(--en-font);}
body.modal-open {padding: 0 !important}
p, li {word-break: keep-all}
ul {margin-bottom: 0}
strong {font-weight: 700;}
.transition-03 {-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-ms-transition: all 0.3s linear;transition: all 0.3s linear;}
.color-primary {color: var(--primary-color);}
/* 버튼 스타일 */
.btn-more a {position: relative;z-index: 1;display: inline-block;padding: 5px 20px;font-size: var(--smaller-font-size);color: var(--white-color);background-color:var(--black-color);}
.btn-more a:before {content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;border:3px solid var(--black-color);transition: 0.3s linear;}
.btn-more a:hover:before {top: -6px;right: -6px;bottom: -6px;left: -6px;}
.btn-more.btn-wht a {color: var(--black-color);background-color: var(--white-color)}
.btn-more.btn-wht a:before {border-color: var(--white-color);}
@media(min-width:992px) {
	.btn-more a {padding: 8px 25px;}
}
/* shop badge */
.shop-rgba-dark {background:#79616f !important}
.shop-rgba-yellow {background:#eab595 !important}
.shop-rgba-red {background:#d87f81 !important}
.shop-rgba-green {background:#7e9680 !important}
.shop-rgba-purple {background:#ae6378 !important}
/* 마우스오버 애니메이션 */
.hvr-act > a {display: block;position: relative}
.hvr-act > a:after {content: "";display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background: #fff}
.hvr-act > a:hover:after {animation: hovereffect 1s}
@keyframes hovereffect {
	0% {opacity: 0;width: 80%;height: 80%;}
	50% {opacity: .2;width: 100%;height: 100%;}
	100% {opacity: 0;width: 100%;height: 100%;}
}
/* 편집 버튼 */
.btn-edit-admin {position:fixed;top:230px;right:-1px;width:130px;padding:5px 10px;background:rgba(255, 255, 255, 0.9);box-shadow:0 0 1px rgba(0,0,0,.7);z-index:1100}
/* ========== wrapper ========== */
#hd-h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.to-content a {z-index:1000;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
.wrapper {position: relative;overflow: hidden;}
.wrapper-inner {padding-top: 70px;background-color: var(--body-color);}
.wrapper-inner.box-layout {max-width: 1320px;margin: 0 auto;}
/* ========== Header ========== */
.header {position: absolute;top: 0;left: 0;width: 100%;z-index: 999;padding: 0 15px;background-color: var(--body-color);transition: .3s;}
#header-fixed.header {position: fixed;}
#header-fixed.header.header-shadow {box-shadow: 0 4px 6px 0 rgb(12 0 46 /6%);}
.header-inner {display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
@media (min-width:992px) and (max-width:1299px){
	.wrapper-inner {padding-top: 121px;}
}
@media (min-width:992px){ 
	.header {padding: 0 2rem;}
}
/* header logo */
.header-logo {position: relative;padding:20px 0;}
.header-logo a {display: block;}
.header-logo a img {display: block;height: 25px;width:auto;}
@media (min-width:992px){ 
	.header-logo {display: flex;}
	.header-logo a img {height: 30px;}
}
@media (min-width:992px) and (max-width:1199px){
	.header-logo {order:1}
}
@media (min-width:1200px){ 
	.header-logo {justify-content:flex-end;flex:0 0 auto;width: 15%;}
	.header-logo a img {max-height: 30px;}
}
/* nav-bar */
.gnb-wrap .gnb .gnb-nav {padding: 0;list-style: none;}
/* gnb - mobile */
@media (max-width:991px){ 
	.gnb-wrap .gnb {position: fixed;top: 0;right: -100%;z-index: 2;overflow-y: auto;-webkit-overflow-scrolling: touch;width: 85%;height: 100vh;padding-bottom: 20px;background-color: var(--body-color);box-shadow: 1px 3px 6px rgb(0 0 0 /32%);transition: .3s ease-out;}
	.gnb-wrap .gnb.act {right: 0;}
	.gnb-wrap .gnb .mobile-box {padding: 20px 25px 5px 30px;}
	.gnb-wrap .gnb .mobile-box .mobile-nav-trigger {position: absolute;top: 15px;right: 20px;}
	.gnb-wrap .gnb .mobile-box .mobile-nav-trigger a {display: block;width: 30px;height: 30px;line-height: 30px;font-size: var(--h2-font-size);text-align: center;}
	.gnb-wrap .gnb .mobile-box .mobile-nav-trigger img {width: 24px;}
	.gnb-wrap .gnb .mobile-box .login-box ul {display: flex;flex-wrap: wrap;padding: 0 30px 10px 0;list-style: none;border-bottom: 2px solid var(--primary-color) !important;}
	.gnb-wrap .gnb .mobile-box .login-box ul li {margin-right: 20px;}
	.gnb-wrap .gnb .mobile-box .login-box ul li:last-child {margin-right: 0;}
	.gnb-wrap .gnb .mobile-box .login-box ul li a {display: block;position: relative;font-size: var(--smaller-font-size);}
	.gnb-wrap .gnb .mobile-box .login-box ul li a:after {content: "";display: block;position: absolute;top: 50%;right: -10px;width: 1px;height: 10px;margin-top: -5px;background-color: var(--body-color-deep);}
	.gnb-wrap .gnb .mobile-box .login-box ul li:last-child a:after {display: none;}
	.gnb-wrap .gnb .gnb-nav {padding: 0 25px 0 30px;}
	.gnb-wrap .gnb .gnb-nav > li:last-child {border-bottom: 0 none;}
	.gnb-wrap .gnb .gnb-nav > li > a {display: block;padding: 8px 0;font-size: var(--small-font-size);font-weight: 700;color: var(--text-color);}
	.gnb-wrap .gnb .gnb-nav > li > a:after {display: none;}
	.gnb-wrap .gnb .gnb-nav > li.active > a {color: var(--primary-color);background: none;}
	.gnb-wrap .gnb .gnb-nav > li > .cate-dropdown-open {opacity: .5;position: absolute;top: 1px;right: 0;width: 30px;height: 38px;line-height: 38px;margin: 0;padding: 0;text-align: center;border: 0 none;z-index: 9}
	.gnb-wrap .gnb .gnb-nav > li > .cate-dropdown-open.show {opacity: 1;}
	.gnb-wrap .gnb .gnb-nav > li > .cate-dropdown-open:before {content: "";display: block;width: 100%;height: 100%;background-image: url("../image/icons/add-line.png");background-repeat: no-repeat;background-position: center;}
	.gnb-wrap .gnb .gnb-nav > li > ul {float: none;position: relative !important;transform: translate(0,0) !important;width: 100%;margin: 0;padding: 0;border: 0 none;box-shadow: none;background-color: var(--body-color-deep);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li {border-bottom: 1px solid var(--white-color);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li:last-child {border-bottom: 0 none;}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > a {padding: 10px 12px;font-size: var(--smaller-font-size);color: var(--text-color);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > a:hover {background: none;}
	.gnb-wrap .gnb .gnb-nav > li > ul > li.active > a {color: var(--primary-color);background: none;}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul {display: block !important;float: none;position: relative;width: 100%;padding: 0 20px 10px;margin: 0;border: 0 none;box-shadow: none;background: none;}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li > a {position: relative;padding: 3px 10px 3px 15px;font-size: var(--smaller-font-size);color: var(--text-color);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li > a:after {content: "";display: block;position: absolute;top: 50%;left: 2px;transform:translateY(-50%);width: 7px;height: 7px;border-left: 1px solid var(--border-color);border-bottom: 1px solid var(--border-color);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li > a:hover, .gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li.active > a {color: var(--primary-color);background: none;}
	.category-nav {margin-top: 10px;padding: 0 25px;}
	.category-nav ul {display: flex;flex-wrap: wrap;border-top: 1px solid var(--border-color-light);border-left: 1px solid var(--border-color-light);}
	.category-nav ul li {flex: 0 0 auto;width: 50%;border-bottom: 1px solid var(--border-color-light);border-right: 1px solid var(--border-color-light);}
	.category-nav ul li a {display: block;padding: 5px;font-size: var(--smaller-font-size);text-align: center;}
}
/* gnb - pc */
@media (min-width:992px){ 
	.gnb-wrap {flex:0 0 auto;width:70%;}
	.gnb-wrap .gnb {display: flex;flex-wrap: wrap;justify-content: space-between;align-items:center;position: relative;}
	.gnb-wrap .mobile-box {display: none;}
	.gnb-wrap .gnb .gnb-nav {display: flex;flex-wrap: wrap;}
	.gnb-wrap .gnb .gnb-nav > li {padding: 0 20px 0 0;}
	.gnb-wrap .gnb .gnb-nav > li > a {display: block;padding:0;line-height: 70px;font-size: var(--small-font-size);font-weight: 700;color: var(--text-color);}
	.gnb-wrap .gnb .gnb-nav > li > a.cate-dropdown-open {display: none;}
	.gnb-wrap .gnb .gnb-nav > li > a:hover, .gnb-wrap .gnb .gnb-nav > li.active > a {color:var(--primary-color)}
	.gnb-wrap .gnb .gnb-nav > li > a::after {display: none;}
	.gnb-wrap .gnb .gnb-nav > li > ul {display: block;left: -5%;opacity: 0;visibility: hidden;min-width: 150px;padding: 5px 30px;background-color: var(--body-color);border: 0 none;-webkit-box-shadow: -1px 2px 19px 3px rgb(14 0 40 /6%);box-shadow: -1px 2px 19px 3px rgb(14 0 40 /6%);-webkit-transform: translateY(20px);-moz-transform: translateY(20px);-o-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);-webkit-transition: all 0.25s ease;-moz-transition: all 0.25s ease;-o-transition: all 0.25s ease;-ms-transition: all 0.25s ease;transition: all 0.25s ease}
	.gnb-wrap .gnb .gnb-nav > li:hover > ul {opacity: 1;visibility: visible;-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li {position: relative}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > a {padding: 10px 0;font-size: var(--small-font-size);color: var(--text-color);background: none;}
	.gnb-wrap .gnb .gnb-nav > li > ul > li:last-child > a {border: 0 none}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > a:hover, .gnb-wrap .gnb .gnb-nav > li > ul > li.active > a {color: var(--primary-color);background: none}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > a .sub-caret {position: absolute;right: 10px;top: 50%;transform: translateY(-50%);color: var(--text-color-light);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul {display: block !important;position: relative;top: inherit;left: inherit;min-width: 100%;padding: 0 10px 5px;margin-bottom: 10px;border: 0 none;border-left: 1px solid var(--body-color-deep);background-color: var(--body-color);box-shadow: 0 0 0 var(--white-color);}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li > a {padding: 5px 0 0;font-size: var(--smaller-font-size);color: var(--text-color);background: none}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li:last-child > a {border-bottom: 0 none}
	.gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li > a:hover, .gnb-wrap .gnb .gnb-nav > li > ul > li > ul > li.active > a {background: none;color: var(--primary-color);}
	.category-nav ul {display: flex;justify-content: flex-end;padding: 20px 0;}
	.category-nav ul li {margin-left: 15px;}
	.category-nav ul li a {display: block;line-height: 30px;font-size: var(--small-font-size);font-weight: 300;font-family:var(--en-font);transition: .3s;}
	.category-nav ul li a:hover {color: var(--primary-color);}
	.category-nav ul li.last-link a {padding:0 12px;font-size: var(--smaller-font-size);font-weight: 400;color:var(--white-color);background-color:var(--primary-color);border-radius:15px;}
	.category-nav ul li.last-link a:hover {background-color:var(--primary-color-dark);}
}
@media (min-width:992px) and (max-width:1299px){
	.gnb-wrap {flex:0 0 auto;width:100%;order:3;border-top:1px solid #eee;}
}
@media (min-width:1300px){
	.gnb-wrap  {flex:0 0 auto;width:64%}
}

/* top bar */
.top-bar {margin-left: auto;}
.top-bar .top-bar-list {display: flex;flex-wrap: wrap;padding: 20px 0;}
.top-bar .top-bar-list li {margin-left: 10px;}
.top-bar .top-bar-list li a, .top-bar .top-bar-list li button {display:flex;align-items:center;height: 30px;line-height: 30px;text-align: center;border: 0 none;background: none;transition: .3s ease-out;}
.top-bar .top-bar-list li img {width: 24px;}
.top-bar .top-bar-list li.btn-cart a span {display: inline-block;width: 18px;height: 18px;line-height: 18px;font-size: var(--smaller-font-size);color: var(--white-color);border-radius: 50%;background-color: var(--primary-color-light);}
@media (min-width:992px){ 
	.top-bar {margin-left: 0;}
	.top-bar .top-bar-list li {margin-left: 15px;}
	.top-bar .top-bar-list li.mobile-nav-trigger {display: none;}
	.top-bar .top-bar-list li a {font-size: var(--h3-font-size);}
	.top-bar .top-bar-list li img {width: 21px;opacity: .8;transition: .3s;}
	.top-bar .top-bar-list li a:hover img {opacity: 1;}
}
@media (min-width:992px) and (max-width:1299px){
	.top-bar {display: flex;justify-content:flex-end;flex:0 0 auto;width:50%;order:2;}
}
@media (min-width:1300px){
	.top-bar {flex:0 0 auto;width:15%}
}

/*---------- Modal ----------*/
.contents-modal .modal-box .modal-content {position: relative;padding: 15px;background-color: var(--body-color-deep);box-shadow: 0 0 0 var(--white-color);}
.contents-modal .modal-box .modal-content h4 {position: relative;margin: 0 0 20px;font-size: var(--normal-font-size);text-align: center;color: var(--text-color);}
/* --- 검색 모달 --- */
/* 입력창 */
.contents-modal .input-button {position: relative}
.contents-modal .input-button input[type="text"] {width: 100%;padding: 6px 12px;font-size: var(--smaller-font-size);color: var(--text-color-light);background-color: var(--body-color);border: 0 none !important;border-bottom: 1px solid var(--input-color) !important;border-radius: 5px;}
.contents-modal .input-button .button {position: absolute;right: 0;top: 0;padding: 0 10px;height: 32px;line-height: 32px;background: none;border: 0 none}
.contents-modal .input-button .button input {position: absolute;top: 0;right: 0;padding: 0;opacity: 0;cursor: pointer}
.contents-modal .input-button .button img {max-width: 20px;vertical-align: sub;}
/* bottom */
.contents-modal .modal-box .contnets-bottom {margin-top: 15px;text-align: center}
.contents-modal .modal-box .contnets-bottom button {border: 0 none;position: relative;display: inline-block;overflow: hidden;padding: 5px 20px;letter-spacing: 2px;font-size: var(--smaller-font-size);color: var(--text-color);background: none;border-width: 1px;border-style: solid;border-color: var(--text-color);-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease}
.contents-modal .modal-box .contnets-bottom button span {position: relative;z-index: 1;}
.contents-modal .modal-box .contnets-bottom button:hover {color: var(--white-color);background-color: var(--text-color);}
@media(max-width:767px) {
	.contents-modal .modal-box {width: 300px;margin: 1.75rem auto;}
	.contents-modal .modal-box .modal-content {padding: 10px}
	.contents-modal .modal-box .modal-content h4 {margin-bottom: 10px;font-size: var(--h3-font-size);line-height: 30px}
	.contents-modal .input-button input[type="text"] {height: 50px;font-size: var(--normal-font-size);}
	.contents-modal .input-button .button {font-size: var(--h3-font-size);}
	.contents-modal .modal-box .contnets-bottom {margin-top: 20px}
}
/* --- 멤버 모달 --- */
.contents-modal .modal-box .member-list {display: flex;justify-content: space-around;}
.contents-modal .modal-box .member-list li {text-align: center}
.contents-modal .modal-box .member-list li a {display: block;width: 70px;padding: 12px 0;background-color: var(--body-color);border-radius: 5px;transition: .3s;}
.contents-modal .modal-box .member-list li a:hover {box-shadow: 3px 3px 7px rgba(0,0,0,.2);}
.contents-modal .modal-box .member-list li a img {display: block;width: 20px;margin: 0 auto;opacity: .85;transition: 0.3s;}
.contents-modal .modal-box .member-list li a span {font-size: .75rem;color: var(--text-color)}
.contents-modal .modal-box .member-list li a:hover img {opacity: 1;}
@media(max-width:767px) {
	.contents-modal .modal-box .member-list li a {width: 70px;}
}
/* --- 최근본상품, 장바구니, 위시리스트 --- */
.member-contents-modal .rside-nav-list {margin:0 0 25px;padding:0;list-style:none;border:1px solid #e5e5e5}
.member-contents-modal .rside-nav-list:after {content:"";display:block;clear:both}
.member-contents-modal .rside-nav-list li {float:left;width:50%}
.member-contents-modal .rside-nav-list li a {display:block;width:100%;padding:8px 10px;text-align:center;font-size:.875rem}
.member-contents-modal .rside-nav-list li:nth-child(1) {border-bottom:1px solid #e5e5e5}
.member-contents-modal .rside-nav-list li:nth-child(2) {border-bottom:1px solid #e5e5e5;border-left:1px solid #e5e5e5}
.member-contents-modal .rside-nav-list li:nth-child(4) {border-left:1px solid #e5e5e5}
.member-contents-modal .shop-member-box {position:relative;margin-bottom:15px}
.member-contents-modal .shop-member-box .shop-member-box-title {position:relative;padding:5px;text-align:center;background-color:var(--text-color);color:var(--white-color);margin-top:15px;font-size:var(--smaller-font-size)}
.member-contents-modal .shop-member-box .shop-member-box-title span {display:inline-block;min-width:16px;padding:3px;margin-left:3px;line-height:1em;font-size:0.625rem;vertical-align:middle;background-color:var(--primary-color);border-radius:2px}
.member-contents-modal .shop-member-box .panel .panel-heading {background-color:transparent;border:0;padding:0}
.member-contents-modal .shop-member-box .panel .panel-title {position:relative;height:40px;margin:0;font-size:.9375rem;color:#fff;line-height:1.5;background-color:#353535;border:0;padding:10px 26px 10px 60px;cursor:pointer}
.member-contents-modal .shop-member-box .panel .panel-title .count-num {display:block;position:absolute;top:0;left:0;width:50px;height:40px;line-height:40px;text-align:center;background-color:#000;color:#fb8c00;font-size:.875rem}
.member-contents-modal .shop-member-box .panel .panel-body {border:0;padding:0}
.member-contents-modal .shop-member-box .op-area {border:1px solid #d5d5d5;margin:10px 0;padding:5px}
.member-contents-modal .shop-member-box .op-area h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.member-contents-modal .shop-member-box .op-area li {position:relative;min-height:55px;padding:5px 0;padding-left:65px;margin-bottom:5px}
.member-contents-modal .shop-member-box .op-area li a {font-weight:700;font-size:var(--small-font-size)}
.member-contents-modal .shop-member-box .op-area li .prd-img {position:absolute;top:0;left:0px;padding:3px;border:1px solid #eaeaea}
.member-contents-modal .shop-member-box .op-area li .prd-img img {max-width: 50px;height:auto}
.member-contents-modal .shop-member-box .op-area li .prd-name {display:block;font-weight:700;font-size:var(--small-font-size)}
.member-contents-modal .shop-member-box .op-area li .prd-cost {display:block;font-weight:700;color:#cc2300;margin:3px 0 0;font-size:var(--smaller-font-size)}
.member-contents-modal .shop-member-box .op-area .li-empty {padding:30px 0;padding-left:0;color:#959595;border-bottom:0;text-align:center;min-height:inherit}
.member-contents-modal .shop-member-box #stv {position:relative}
.member-contents-modal .shop-member-box #stv_pg {display:block;;text-align:center;margin:10px 0 0;line-height:20px;font-size:var(--small-font-size)}
.member-contents-modal .shop-member-box .stv-item {display:none;padding:0 9px;word-break:break-all}
.member-contents-modal .shop-member-box #up {position:absolute;bottom:5px;left:10px;width:30px;height:20px;overflow:hidden;border:1px solid #c5c5c5}
.member-contents-modal .shop-member-box #up span {position:absolute;font-size:0;line-height:0;overflow:hidden}
.member-contents-modal .shop-member-box #down {position:absolute;bottom:5px;right:10px;width:30px;height:20px;overflow:hidden;border:1px solid #c5c5c5}
.member-contents-modal .shop-member-box #down span {position:absolute;font-size:0;line-height:0;overflow:hidden}
/* ========== footer ========== */
.footer-inner .footer-top {padding:60px 0;background-color:var(--body-color-deep)}
.footer-inner .footer-top .footer-top-box h4 {margin-bottom:10px;font-size:var(--normal-font-size);font-weight:700}
.footer-inner .footer-top .footer-top-customer .phone-num {margin-bottom: 15px;}
.footer-inner .footer-top .footer-top-customer .phone-num strong {display: block;font-size:var(--h1-font-size);}
.footer-inner .footer-top .footer-top-customer .phone-num small {font-size:var(--small-font-size);}
.footer-inner .footer-top .footer-top-customer .footer-btn a {display: inline-block;padding:5px 10px;font-size:var(--normal-font-size);border-bottom:1px solid var(--text-color-light);transition:.3s;}
.footer-inner .footer-top .footer-top-customer .footer-btn a:hover {color:var(--primary-color-dark);border-bottom-color:var(--primary-color-dark);}
.footer-inner .footer-top .footer-top-bank .bank-num {margin-bottom: 10px;}
.footer-inner .footer-top .footer-top-bank .bank-num strong {display: block;font-size:var(--h2-font-size);}
.footer-inner .footer-top .footer-top-bank .bank-num small {font-size:var(--small-font-size);}
.footer-inner .footer-top .footer-top-bank .footer-btn {display:flex;justify-content:space-between;}
.footer-inner .footer-top .footer-top-bank .footer-btn a {display: block;position: relative;width: 48%;padding:15px;font-size:var(--small-font-size);transition:.3s;}
.footer-inner .footer-top .footer-top-bank .footer-btn a.btn-1 {color:var(--white-color);background-color:var(--primary-color);}
.footer-inner .footer-top .footer-top-bank .footer-btn a.btn-2 {background-color:var(--primary-color-light);}
.footer-inner .footer-top .footer-top-bank .footer-btn a:hover {color:var(--white-color);background-color:var(--primary-color-dark);}
.footer-inner .footer-top .footer-top-bank .footer-btn a i {position: absolute;top:50%;right: 20px;transform:translateY(-50%);transition:.3s;}
.footer-inner .footer-top .footer-top-bank .footer-btn a:hover i {right:15px}

.footer-inner .footer-btm {padding:60px 0;background-color:var(--primary-color-light);}
.footer-inner .footer-btm .footer-logo {margin-bottom: 20px;}
.footer-inner .footer-btm .footer-logo a img {max-height:40px;width:auto;}
.footer-inner .footer-btm ul.footer-btm-list {display:flex;flex-wrap:wrap;justify-content:space-between;}
.footer-inner .footer-btm ul.footer-btm-list > li {flex:0 0 auto;}
.footer-inner .footer-btm ul.footer-btm-list > li h4 {margin-bottom: 15px;font-size:var(--h3-font-size);color:var(--primary-color-dark);}
.footer-inner .footer-btm ul.footer-btm-list > li .footer-info {position: relative;}
.footer-inner .footer-btm ul.footer-btm-list > li .footer-info address {margin-bottom: 0;}
.footer-inner .footer-btm ul.footer-btm-list > li .footer-info address span {display: block;margin-top:5px;font-size:var(--small-font-size);color:var(--text-color-light);}
.footer-inner .footer-btm ul.footer-btm-list > li .footer-info address span a {color:var(--text-color-light);transition:.3s}
.footer-inner .footer-btm ul.footer-btm-list > li .footer-info address span a:hover {color:var(--primary-color);}
.footer-inner .footer-btm ul.footer-btm-list > li ul.footer-link-list li {margin-top:7px;}
.footer-inner .footer-btm ul.footer-btm-list > li ul.footer-link-list li a {font-size:var(--small-font-size);color:var(--text-color-light);transition:.3s}
.footer-inner .footer-btm ul.footer-btm-list > li ul.footer-link-list li a:hover {color:var(--primary-color);}

.footer .copyright {padding:10px;font-size: var(--smaller-font-size);text-align:center;color:var(--border-color);background-color:var(--text-color);}
@media (max-width:991px){
	.footer-inner .footer-top, .footer-inner .footer-btm {padding:30px 0;}
	.footer-inner .footer-btm .footer-logo a img {max-height:30px;}
}
@media (max-width:767px){
	.footer-inner .footer-top .footer-top-customer {margin-bottom:20px;}
	.footer-inner .footer-btm ul.footer-btm-list > li:first-child {width:100%;margin-bottom:20px}
	.footer-inner .footer-btm ul.footer-btm-list > li h4 {margin-bottom: 10px;}
	.footer-inner .footer-btm ul.footer-btm-list > li .footer-info address span,
	.footer-inner .footer-btm ul.footer-btm-list > li ul.footer-link-list li {margin-top:2px;}
}
@media (min-width:1200px){ 
	.footer-inner .info .footer-info-content span {display: block;margin: 5px 0;}
}
/* ========== main ========== */
.sub-basic-body {padding: 2.5rem 0;/* 40px */}
/*---------- Page Title ----------*/
.page-title {position:relative;}
.page-title-image {position:relative;width:100%;height:200px;background-repeat:no-repeat;background-size:cover;background-position:center;}
.page-title-caption {position:absolute;top:50%;transform:translateY(-35%);width:100%;}
.page-title-caption h2 {position:relative;margin:0 0 10px;font-size:var(--h1-font-size);font-weight:300;color:var(--white-color);letter-spacing:5px;}
.page-title-caption .breadcrumb {display:flex;margin:0;padding:0;background:none;color:var(--body-color-deep);}
.page-title-caption .breadcrumb li {position:relative;padding-right:30px;}
.page-title-caption .breadcrumb li::after {content:"/";opacity:.7;position:absolute;right:14px;color:var(--body-color-deep);}
.page-title-caption .breadcrumb li:last-child:after {display:none;}
.page-title-caption .breadcrumb li,.page-title-caption .breadcrumb a {font-size:13px;color:var(--body-color-deep);}
.page-title-caption .breadcrumb a:hover {color:var(--primary-color);}
@media(min-width:992px) {
	.page-title-image {height:300px;}
	.page-title-caption h2 {font-size:var(--h1-font-size);}
}
.submenu {position:relative;padding-left:45px;margin-bottom:40px;border:1px solid var(--border-color);background-color:var(--body-color);}
.submenu .sub-home-link a {display:block;width:45px;height:45px;line-height:45px;text-align:center;font-size:var(--small-font-size);background:var(--primary-color);color:var(--white-color);}
.submenu .sub-home-link a:hover {background-color:var(--primary-color-dark);}
.submenu .submenu-title {position:relative;min-width:200px;padding:0 20px;cursor:pointer;}
.submenu .submenu-title:before  {content:"";display:block;position:absolute;top:0;right:0;width:1px;height:100%;background-color:var(--border-color);}
.submenu .submenu-title:after {content:"";display:block;position:absolute;top:50%;right:20px;transform:translateY(-50%) rotate(45deg);width:10px;height:10px;border-bottom:1px solid var(--border-color);border-right:1px solid var(--border-color);}
.submenu .submenu-title h2 {margin:0;height:45px;line-height:45px;font-size:var(--normal-font-size);}
.submenu .list-submenu {display:none;position:absolute;top:100%;left:0;z-index:1;width:100%;border:1px solid var(--border-color);background-color:var(--body-color);}
.submenu .list-submenu li {margin:0;}
.submenu .list-submenu li a {display:block;padding:10px 20px;}
.submenu .list-submenu li a:hover {color:var(--primary-color);}
@media(max-width:767px) {
	.submenu {border-width:1px 1px 0 0;}
	.submenu .sub-home-link {position:absolute;top:0;left:0;}
	.submenu .submenu-title {border-bottom:1px solid var(--border-color);}
	.submenu .submenu-title:before {left:0;}
}
@media(min-width:768px) {
	.submenu {display:flex;padding-left:0;}
	.submenu .sub-home-link a {width:60px;height:60px;line-height:60px;}
	.submenu .submenu-title:before {right:0;}
	.submenu .submenu-title.submenu-title-second {margin-left:-1px;}
	.submenu .submenu-title h2 {height:60px;line-height:60px;}
	.submenu .list-submenu li a {padding:15px 20px;}
}
/*---------- Offcanvas ----------*/
.offcanvas-backdrop {z-index:1003}
/*---------- Eb BackToTop ----------*/
.eb-backtotop {position:fixed;right:15px;bottom:15px;height:46px;width:46px;cursor:pointer;display:block;-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;box-shadow:inset 0 0 0 2px rgba(255,255,255,0.15);background:#fff;z-index:1003;opacity:0;visibility:hidden;transform:translateY(15px);-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop.active-progress {opacity:1;visibility:visible;transform:translateY(0)}
.eb-backtotop:after {position:absolute;content:"\f106";font-family:'Font Awesome\ 5 Free';font-weight:900;text-align:center;font-size:16px;color:#757575;left:0;top:0;height:46px;width:46px;line-height:28px;cursor:pointer;display:block;z-index:1;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop:hover:after {color:#cc2300}
.eb-backtotop svg path {fill:none}
.eb-backtotop svg.backtotop-progress path {stroke:#b5b5b5;stroke-width:4;box-sizing:border-box;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop .progress-count {display:block;position:absolute;bottom:8px;left:0;right:0;font-size:11px;text-align:center;color:#a5a5a5}
.eb-backtotop {box-shadow:inset 0 0 0 2px rgba(0,0,0,0.15)}
.eb-backtotop:after {color:#2b2b2e}
.eb-backtotop svg.backtotop-progress path {stroke:var(--primary-color)}
/* ========== index ========== */
.section-m-tb {margin: 2.5rem 0;/* 40px */}
.section-p-tb {padding: 2.25rem 0;/* 36px */}
.section-bgc-gray {background-color:var(--body-color-deep);}
@media (min-width: 992px){ 
	.section-m-tb {margin: 5rem 0;/* 80px */}
	.section-p-tb {padding: 3.25rem 0;/* 52px */}
}/* 페이지 로더 */
.page-loader {position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 100%;background: var(--body-color);}
.page-loader .logo-loader {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)}
.page-loader .logo-loader img {height: 40px;width: auto}
/* 쇼핑몰 메인 타이틀 */
.main-heading h2 {position: relative;margin-bottom:25px;text-align: center;}
.main-heading h2:after {content: "";opacity: .6;display: block;position: absolute;top: 50%;width: 100%;height: 4px;margin-top:-2px;background-color: var(--border-color-light);}
.main-heading h2 a {display: inline-block;position: relative;z-index: 1;padding: 0 50px;font-size: var(--h3-font-size);font-family: var(--en-font);letter-spacing: .05em;background-color: var(--white-color);transition: .3s;}
.section-bgc-gray .main-heading h2 a {background-color:var(--body-color-deep)}
.main-heading h2 a:hover {color: var(--primary-color);}
.main-heading h2 a span small {display: block;margin-top: 10px;font-size: var(--small-font-size);color: var(--text-color-light);}
@media (min-width:1200px){
	.section-lg-2-5 .row > .col-lg-2 {width:20%}
	.section-lg-2-5 .row > .col-lg-10 {width:80%}
}
/* 사용자후기 */
.shop-main-review h2 a {background-color: rgb(248,248,248);}
.review-slider-inner {margin: 0 -10px;}
.review-slider-inner .item {padding: 0 10px}
.review-slider-inner .item-in {position: relative;border: 1px solid #eaeaea;}
.review-slider-inner .item-image a {display: block}
.review-slider-inner .item-image a img {display: block;max-width: 100%;height: auto}
.review-slider-inner .item-content {position: relative;overflow: hidden;padding: 15px;background-color: #fff;}
.review-slider-inner .item-content-in {position: relative;z-index: 1}
.review-slider-inner .item-content .product-info {display: block;line-height: 1em;font-size: var(--smaller-font-size);color: var(--primary-color)}
.review-slider-inner .item-content h5 {margin: 10px 0 5px}
.review-slider-inner .item-content h5 a {font-size: var(--small-font-size);font-weight: 700;color: #333}
.review-slider-inner .item-content h5 a:hover {text-decoration: underline}
.review-slider-inner .item-content p {overflow: hidden;height: 40px;line-height: 20px;font-size: var(--small-font-size);color: #707070}
/* 컨트롤 좌우 */
.review-slider .splide__arrow--next,
.review-slider .splide__arrow--prev {opacity: 0;width: 40px;height: 40px; background: rgba(0,0,0,.6);-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-ms-transition: all 0.3s linear;transition: all 0.3s linear;border-radius: 50% !important;}
.review-slider .splide__arrow--next:hover,
.review-slider .splide__arrow--prev:hover {background: rgba(0,0,0,.8);}
.review-slider .splide__arrow--next {right: 0;z-index: 1}
.review-slider .splide__arrow--prev {left: 0;z-index: 1}
.review-slider:hover .splide__arrow--next {right: .5rem;opacity: 1;}
.review-slider:hover .splide__arrow--prev {left: .5rem;opacity: 1;}
.review-slider .splide__arrow--next:before,
.review-slider .splide__arrow--prev:before {content: "";display: block;position: absolute;top: 50%;width: 14px;height: 14px;margin-top: -7px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);transition: all 0.3s linear;}
.review-slider .splide__arrow--next:before {right: 15px;border-right: 1px solid #eee;border-top: 1px solid #eee;}
.review-slider .splide__arrow--prev:before {left: 15px;border-left: 1px solid #eee;border-bottom: 1px solid #eee;}